.DS_Store
debug*
datasets/
checkpoints/
results/
build/
dist/
MSANN/
MWCNN/
*.png
*.pkl
*.csv
torch.egg-info/
*/**/__pycache__
torch/version.py
torch/csrc/generic/TensorMethods.cpp
torch/lib/*.so*
torch/lib/*.dylib*
torch/lib/*.h
torch/lib/build
torch/lib/tmp_install
torch/lib/include
torch/lib/torch_shm_manager
torch/csrc/cudnn/cuDNN.cpp
torch/csrc/nn/THNN.cwrap
torch/csrc/nn/THNN.cpp
torch/csrc/nn/THCUNN.cwrap
torch/csrc/nn/THCUNN.cpp
torch/csrc/nn/THNN_generic.cwrap
torch/csrc/nn/THNN_generic.cpp
torch/csrc/nn/THNN_generic.h
docs/src/**/*
test/data/legacy_modules.t7
test/data/gpu_tensors.pt
test/htmlcov
test/.coverage
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
test/data/legacy_serialized.pt
*~
.idea
core.pt_main_thread-6-1728063914-7935-3746-c0900a-s11.ufhpc.4183482  
core.pt_main_thread-6-1728806929-7935-3746-c1007a-s23.ufhpc.2146416
core.pt_main_thread-7-1720069973-7935-3746-c1110a-s23.ufhpc.527314
core.pt_main_thread-7-1728299266-7935-3746-c0900a-s11.ufhpc.2833771 
core.pt_main_thread-7-1733252597-7935-3746-c1101a-s35.ufhpc.2034033
core.python-6-1724066597-7935-3746-c1001a-s17.ufhpc.2328525
core.python-11-1718985327-7935-3746-c1106a-s35.ufhpc.347415 
core.python-11-1718985327-7935-3746-c1106a-s35.ufhpc.347900
.env

#Ignore Wandb
wandb/
